{#
/**
 * Banner (Page)
 *
 */
#}

{% import "macros.twig" as macros %}


<div class="banner-page-wrapper">
  <div class="l-container --h-padding banner-wrapper">
    <section class="banner-page">

      <div class="banner-page__inner">
        <div class="banner-page__heading">
          <h1 class="banner-page__title section-title u-remove-line-break" data-splitting data-aos="title-split-down">{{ fields.banner_title }}</h1>
          {% if fields.banner_subtitle %}
            <p class="banner-page__subtitle section-subtitle" data-aos="fade-up" data-aos-delay="700" data-aos-anchor-placement=".banner-wrapper">{{ fields.banner_subtitle }}</p>
          {% endif %}
        </div>

        {% if post.thumbnail %} 
          <figure class="banner-page__figure image-figure" data-aos="slide-image-big" data-aos-delay="1100" data-aos-anchor-placement=".banner-wrapper">
            <div class="image-wrapper --aspect-ratio --box-shadow --bg-shadow --rotated">
              {{ macros.get_rwd_image( post.thumbnail.id, 'banner', 'large') }}
            </div>
          </figure>
        {% endif %}
        
      </div>  {# end .banner-XXX-inner #}
      
    </section>  {# end .banner-XXX #}
  </div>  {# end .l-container #}
</div>    {# end .banner-XXX-wrapper #}
