{% set class_name = modifier_class ?: '' %}

<div class="bg-top {{ class_name }}">
	<picture>
    <source media="(max-width: 520px)" srcset="{{ image_link }}bg-top-sm.jpg">
    <img src="{{ image_link }}bg-top.jpg" alt="" aria-hidden="true" width="1440" height="768">
  </picture>
</div>
