<div class="box-share">
	<a href="#" target="_blank" rel="noopener" class="link-share" data-social-share="email">
		<svg class="icon"><use xlink:href="#icon-mail"></use></svg>
	</a>
	<a href="#" target="_blank" rel="noopener" class="link-share" data-social-share="facebook">
		<svg class="icon"><use xlink:href="#icon-facebook"></use></svg>
	</a>
	<a href="#" target="_blank" rel="noopener" class="link-share" data-social-share="twitter">
		<svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
	</a>
</div>