<div class="lang-switcher --footer">
		<span>{{ pll__('Langue : ') }}</span>
		
		{% set args = { 'dropdown': 2, 
										'display_names_as': 'name', 
										'hide_current': 1, 
										'hide_if_empty': 0 ,
										'echo': 0 
									} %}
		{{ fn('pl_the_languages', args ) }}

		<svg class="icon"><use xlink:href="#icon-chevron-down"></use></svg>
</div>
