
//  Cookie banner styles
// -----------------------------------------------

.cli_action_button,
.cli_settings_button,
.wt-cli-privacy-btn {
  transition: background-color $trans-duration;
}


.wt-cli-privacy-btn {
  background-color: $color-secondary !important;
  transition: background-color $trans-duration !important;
  border-radius: initial;

  &:hover {
      background-color: $color-secondary-dark !important;
  }
}

.cli-switch input:checked + .cli-slider {
  background-color: $color-secondary;
}

.cli-plugin-main-link {
  color: $color-secondary !important;
}



// .cli-bar-message {
//   width: 100%;
//   font-size: 14px !important;
//   line-height: 19px !important;
// } 

// .cli_action_button {
//   padding: 12px 24px !important;
// }

// #wt-cli-settings-btn {
//   font-size: 13px;
//   text-transform: uppercase;
// }


//  MQ
// -----------------------------------------------

// @include bp('portrait-under') {
//   #cookie-law-info-bar {
//       max-width: initial;
//       right: initial;
//       left: 0;
//       bottom: 0 !important;
//       padding: 24px 32px !important;
//   }
// }