// ==============================================

//        LANGUAGE SWITCHER

// ==============================================


//  Language switcher on desktop
// -----------------------------------------------

.lang-switcher {
	display: grid;
	grid-template-areas: "select";
	grid-template-columns: 1fr;
	align-items: center;
	padding-left: 12px;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		select {
			color: $color-primary;
		}
		.icon {
			fill: $color-primary;
		}
	}

	select {
		grid-area: select;
		appearance: none;
		// Additional resets for further consistency
		width: 100%;
		padding: 4px 20px 4px 0;
		margin: 0;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		text-transform: inherit;
		background-color: transparent;
		border: none;
		cursor: inherit;
		outline: none;
		color: inherit;
		transition: color $trans-color;
	}

	.icon {
		grid-area: select;
		justify-self: end;
		margin-left: 16px;
		font-size: 18px;
		fill: $color-grey-500;
		transition: fill $trans-color;
	}
}


//  Language switcher in footer
// -----------------------------------------------

.lang-switcher.--footer {
	grid-template-areas: "label select";
	grid-template-columns: auto auto;
	padding-left: initial;
	font-size: 14px;
	text-transform: initial;
	color: $color-white;
	cursor: initial;

	&:hover {
		select {
			color: $color-primary-200;
		}
		.icon {
			fill: $color-primary-200;
		}
	}

	span {
		grid-area: label;
		margin-right: 4px;
	}

	select {
		font-weight: 700;
		cursor: pointer;
	}

	.icon {
		fill: $color-white;
		pointer-events: none;
	}
}



//  Language switcher on mobile (inline)
// -----------------------------------------------

.lang-switcher-mobile {
	@include list-inline-flex();
	justify-content: center;
	width: 100%;

	li {
		position: relative;
		padding-right: 14px;

		& + li {
			padding-left: 14px;
	
			&:before {
				@include pseudo-block(6px, 1px, $color-grey-500);
				top: 50%;
				left: -3px;
			}
		}
	} 

	li.current-lang a {
		font-weight: 700;
		color: $color-primary;
	}
	
	a {
		display: inline-block;
		padding: 4px 0;
		text-transform: uppercase;

		&:hover {
			color: $color-primary;
		}
	}
}
