// ==============================================

//        BUTTONS

// ==============================================


//  Button basic (underline with pseudo)
//  - modifiers : --grey, --green, --secondary, --ghost, --text, --white, --big, --no-pointer, --loader, --job-linkedin
// -----------------------------------------------

@mixin btn-outline {
	--color-text: var(--color-primary);
	background-color: transparent;
	border: 2px solid $color-primary;

	&:hover {
		background-color: $color-navy;
		color: $color-white;
		border-color: $color-navy;
	}
}


.btn {
	--color-text: white;
	--color-bg: var(--color-primary);
	@include inline-flex-center();
	padding: 14px 24px;
	font-size: 18px;
	line-height: 1.1;
	font-weight: 700;
	text-align: center;
	color: var(--color-text);
	background-color: var(--color-bg);
	border-radius: $border-radius-small;
	transition: color $trans-color, background-color $trans-color, border-color $trans-color;

	@include mobile {
		font-size: 16px;
	}
	
	&:hover {
		background-color: $color-navy;
	}

	// --modifiers
	&.--small {
		font-size: 16px;
		padding: 11px 16px;
	}

	&.--navy {
		--color-bg: var(--color-navy);

		&:hover {
			background-color: $color-primary;
		}
	}

	&.--outline {
		@include btn-outline();
	}

	&.--outline-white {
		--color-text: var(--color-white);
		background-color: transparent;
		border: 2px solid $color-white;

		&:hover {
			background-color: $color-white;
			color: $color-primary;
		}
	}


	&.--link {
		--color-text: var(--color-black-medium);
		padding: 8px 16px;
		font-size: 16px;
		font-weight: 400;
		background-color: initial;

		&:hover {
			color: $color-primary;
			background-color: initial;
		}
	}

	&.--stretch-mobile {
		@include mobile {
			width: 100%;
		}
	}

	// Changement d'aspect en mobile
	&.--outline-mobile {
		@include mobile {
			@include btn-outline();
		}
	}


	&.--sticky-demo {
		position: sticky;
		bottom: 0;
		border-radius: initial;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transform: translateY(50%);
		box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.15);
		transition: opacity $trans-duration, visibility $trans-duration, transform $trans-duration;

		&.is-show {
			opacity: 1;
			visibility: visible;
			transform: initial;
		}

		@include min-tablet {
			display: none;
		}
	}



}
