// ==============================================

//        FOOTER NEWSLETTER

// ==============================================



.footer-newsletter {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  font-size: 14px;
}

.footer-newsletter__title {
  font-weight: 700;
  color: $color-primary;
}

.footer-newsletter__text {
  margin-top: 10px;
  color: $color-black;
}


.footer-newsletter__form {
  width: 100%;
  margin-top: 10px;

  input {
    padding: 10px 10px 10px 34px;
    width: 100%;
    border: 1px solid $color-grey-300;
    border-radius: $border-radius-small;
    color: $color-navy;
    transition: color $trans-color, border-color $trans-color;

    &:focus {
      border-color: $color-navy;
    }

    // &:not(:focus):valid {
    //   border-color: $color-form-success;
    // }

    // show error feedback only if user interaction (data-touched injected with JS)
    &:not(:focus):invalid[data-touched] {
      border-color: $color-error;
      color: $color-error;
    }
    &:not(:focus):invalid[data-touched] ~ .input-invalid {
      display: block;
    }
    
    &::placeholder {
      color: $color-grey-500;
    }
  }
}



.footer-newsletter__input-wrapper {
  position: relative;
  display: flex;

  &:before {
    content:'';
    position: absolute;
    top: 50%;
    left: 10px;
    width: 16px;
    height: 12px;
    background-image: url(../svg/icon-mail-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    transform: translateY(-50%);
  }
  
  .btn-newsletter {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
}

.btn-newsletter {
  @include inline-flex-center();
  padding: 0 10px;
  font-size: 14px;
  color: $color-grey-500;
  border-radius: 0 $border-radius-small $border-radius-small 0;
  transition: color $trans-duration, background-color $trans-duration;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-navy;
  }
}

.footer-newsletter__feedback {
  display: inline-flex;
  align-self: flex-start;
  margin-top: 8px;
  font-size: 14px;
  color: $color-primary;
  
  &.is-error {
    color: $color-error;
  }
}


