{% block html_head_container %}

	{% include 'partials/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}" {% if accent_color %} data-color-theme="{{ accent_color }}"{% endif %}>

		{{ fn( 'file_get_contents', svg_sprite) }}

		<div class="page-wrapper">

			{% include 'partials/header-site.twig' %}

			<main class="main">

				{% block content %}
					Sorry, no content
				{% endblock %}

			</main> {# end .main #}	
		
			{% include 'partials/footer-site.twig' %}

		</div> {# end .page-wrapper #}	

		{{ wp_footer }}

	</body>
</html>

