// ==============================================

//        PANEL

// ==============================================



//  
// -----------------------------------------------

.panel {
	display: grid;
	grid-template-areas: "content image";
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
	align-items: center;

	// --modifier
	&.--bg-grey {
		padding-top: 90px;
		padding-bottom: 90px;
		background-color: $color-primary-050;

		@media (min-width: 1280px) {
			border-radius: $border-radius;
		}

		@include tablet-small {
			padding-top: 60px;
			padding-bottom: 60px;
		}

		@include mobile {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}


				&+.panel {
					margin-top: 90px;

					@include tablet-small {
						margin-top: 40px;
					}
				}


	// --modifier
	@include min-tablet-small {
		&.--image-text {
			grid-template-areas: "image content";

			.panel__image {
				justify-self: initial;
			}

			.panel__content {
				justify-self: end;
			}
		}
	}

	// 1 colonne
	@include tablet-small {
		grid-template-areas: "content"
			"image";
		grid-template-columns: auto;
	}
}

.panel__content {
	grid-area: content;

	@include min-tablet-small {
		max-width: 520px;
	}
}

.panel__image {
	grid-area: image;
	width: 100%;
	max-width: 564px;

	@include min-tablet-small {
		justify-self: end;
	}
}