// ==============================================
//
//        LISTS
//
// ==============================================


// Liste verticale sans bullets
@mixin list-no-bullets() {
  list-style: none;
}

// Liste verticale sans bullets, margin, padding
@mixin list-bare() {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

// Liste horizontale bare avec les items en inline-blocks
@mixin list-inline-block() {
  @include list-bare();

  > li {
    display: inline-block;
  }
}

// Liste horizontale bare en inline-flex (flex-direction: row par défaut)
@mixin list-inline-flex($direction:null) {
  @include list-bare();
  display: inline-flex;
  @if $direction { flex-direction: $direction; } 
}

// Liste horizontale bare en flex (flex-direction: row par défaut)
@mixin list-flex($direction:null) {
  @include list-bare();
  display: flex;
  @if $direction { flex-direction: $direction; }  
}


// Liste verticale avec bullets stylisé pour le theme
@mixin list-styled() {
  list-style: none;
  padding-left: 0;
  
  li {
    position: relative;
    padding-left: 24px;

    @include tablet-small {
      font-size: 16px;
      padding-left: 28px;
    }
    
    &:before {
      content: '';
      position: absolute;
      left: 1px;
      top: 4px;
      display: block;
      width: 20px;
      height: 20px;
      background-image: url(../svg/external/icon-check-circle.svg);
      background-repeat: no-repeat;

      @include tablet-small {
        top: 3px;
      }
    }

    & + li {
      margin-top: 14px;
    }
  }
}


// Liste verticale ordonné avec bullets stylisé pour le theme
@mixin list-ordered-styled() {
  padding-left: 1.7em;

  li {
    padding-left: 0.2em;

    &::marker {
      color: currentColor;
    }
  }
}