{% extends "layouts/base.twig" %}

{% block content %}
	
	<div class="page-404-wrapper">
		<div class="l-container --h-padding">

			<div class="page-404">
				<h1 class="page-404__title">Page 404</h1>
				<p class="page-404__text">Désolé cette page, n'existe pas.</p>
				<a href="{{ site.url }}" class="btn-all-posts"><span>Retour à l'accueil</span></a>
   	 	</div>

		</div>
	</div>

{% endblock %}