{# Page single Références #}

{% extends "layouts/base.twig" %}

{% block content %}

	{% include "partials/banner-single-project.twig" with { 'post': post, 'fields': fn('get_fields') } %}

	<div class="page-article-wrapper --project">
		{% include "partials/bg-block.twig" %}

		<div class="l-container --small --h-padding">
			<article class="page-article editor-text" data-aos="fade-in" data-aos-delay="100">
				
				{{ post.content }}
				{% include "partials/slider-images.twig" with { 'fields': fn('get_fields') } %}
			
			</article>	{# end .page-article #}
		</div>		{# end .l-container #}
	</div>		 {# end .page-article-wrapper #}	

	{% include 'partials/single-pagination.twig' with { 
		txt_prev_post: 'Référence précédente', 
		txt_next_post: 'Référence suivante', 
		txt_all_posts: 'Toutes les références', 
		url_all_posts: page_projects_link, 
	} %}

{% endblock %}
