// ==============================================

//        GLOBAL LAYOUT

// ==============================================


//  Structure
// -----------------------------------------------

// wrap header, main and footer -> push footer on bottom
.page-wrapper {
  overflow: hidden;     // prevent background image overflow below footer
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(var(--vh) * 100);    // fix 100vh in iOS and Chrome Android
}

.main {
  flex-grow: 1;    // expand main content -> push footer on bottom

  // margin equal header height when header is sticky
  padding-top: var(--header-height) !important;
}




//  Block layout
// -----------------------------------------------

.block + .block {
  margin-top: 90px;
  
  @include mobile {
    margin-top: 60px;
  }
}
