// ==============================================

//        TYPOGRAPHY

// ==============================================


//  Body / heading
// -----------------------------------------------

body {
  font-family: $font-body; 
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-body-text;
  background-color: $color-body-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  margin-bottom: 0;
  font-family: $font-title; 
  font-feature-settings: $font-feature-settings;

  .alt-color {
    color: $color-primary;
  }
}

h1,
.h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.13;
  
  @include tablet {
    font-size: 36px;
  }
  @include mobile {
    font-size: 32px;
  }
}

h2,
.h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.13;

  @include tablet {
    font-size: 30px;
  }
  @include mobile {
    font-size: 25px;
    line-height: 1.2;
  }
}

h3,
.h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.23;

  @include tablet {
    font-size: 28px;
  }
  @include mobile {
    font-size: 28px;
  }
}


//  Other
// -----------------------------------------------

a {
  text-decoration: none;
  color: $color-body-text;
}

p + p {
  margin-top: 1rem;
}


.suptitle {
    display: block;
    font-family: $font-title; 
    font-feature-settings: $font-feature-settings;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    color: var(--color-accent);   // --thème de couleur
}




.editor {
    .suptitle + * {
        margin-top: 10px;
    }

    * + .btn {
        margin-top: 30px;
    }

    * + .wysi {
        margin-top: 10px;
    }

    p {
        @include tablet {
            font-size: 16px;
        }
    }
}



// default size for SVG icon
.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}


img.--border-radius {
    border-radius: $border-radius;
}








/* 

.editor-text {
  h2,
  h3,
  h4 {
    margin-bottom: 1.2em;
  }

  p + h2, ul + h2,
  p + h3, ul + h3,
  p + h4, ul + h4 {
    margin-top: 1.8em;
  }
  
  ul {
    @include list-styled();
  }

  ol {
    @include list-ordered-styled();
  }

  a {
    color: $color-secondary;
    text-decoration: underline;

    &:hover {
      color: $color-secondary-dark;
    }
  }

  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  p:last-child,
  blockquote:last-child {
    margin-bottom: 0;
  }

  // @include bd();
} */