// ==============================================

//        HELPERS CLASSES

// ==============================================


//  Typography
// -----------------------------------------------

.u-text-left {    text-align: left;   }
.u-text-right {   text-align: right;    }
.u-text-center {  text-align: center;   }

.u-align-top {        vertical-align: top;    }
.u-align-bottom {     vertical-align: bottom;   }
.u-align-middle {     vertical-align: middle;   }
.u-align-baseline {   vertical-align: baseline; }

.u-lowercase {      text-transform: unset;    }
.u-uppercase {      text-transform: uppercase;    }
.u-capitalize {     text-transform: capitalize;   }


.u-truncate {
  @include truncate();
}
.u-truncate-multiline {
  @include truncate-multiline(3);
}
.u-break-word {
  word-wrap: break-word;
}

// !! note !! 
// word-wrap = overflow-wrap
// word-wrap: utilisé pour toutes les langues
// word-break: utilisé avec les langues "exotiques"

.u-nowrap {
  white-space: nowrap;
}

      // Supprime les <br> sur mobile
      .u-break-space {
        @include media-breakpoint-down(xs) {
          display: none;
        }
      }


// Supprime les <br> à partir d'un breakpoint
.u-remove-line-break {
  @include remove-line-break();
}


//  Lists
// -----------------------------------------------

.u-list-bare {
  @include list-bare();
}



//  Layout
// -----------------------------------------------

.u-bg-cover {
  @include bg-cover();
}

.u-bg-contain {
  @include bg-cover(contain);
}

.u-image-cover {
  @include image-cover();
}


//  Hide
// -----------------------------------------------

.is-hidden {
  display: none !important;
}

.is-invisible {
  visibility: hidden !important;
}

.u-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


//  Others
// -----------------------------------------------

// Désactive le scroll du body scroll quand le menu responsive est ouvert
.u-no-scroll {
  overflow: hidden;
}




.u-color-primary-medium {
  color: $color-primary-medium !important;
}


.custom-scrollbar {
	--custom-scrollbar-width: 5px;
	--custom-scrollbar-height: 5px;

	/* Firefox */
	scrollbar-width: auto; /* can also be normal, or none, to not render scrollbar */
	scrollbar-color: $color-primary $color-primary-100; /* foreground background */

	/* Webkit / Blink */
	&::-webkit-scrollbar {
		width: var(--custom-scrollbar-width);
		height: var(--custom-scrollbar-height);
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color-primary;
		// border-radius: 9999px; /* always round */
	}

	&::-webkit-scrollbar-track {
		background-color: $color-primary-100;
	}
}
