// ==============================================

//        PAGE 404

// ==============================================


.error404 {
  .footer-site {
    margin-top: initial !important;
  }
}

.page-404-wrapper {
  background-color: $color-primary-050;
}


.page-404 {
  position: relative;
  padding: 150px 0;

  .btn-all-posts {
    margin-top: 40px;
  }

  .btn {
    margin-top: 20px;
  }
}

.page-404__text {
  margin-top: 20px;
}


//  MQ Breakpoints
// -----------------------------------------------

@include media-breakpoint-down(md) {
  .page-404 {
    padding: 200px 0;
  }
}

@include media-breakpoint-down(sm) {
  .page-404 {
    padding: 150px 0 100px;
    margin-left: initial;
  
    .btn-all-posts {
      margin-top: 20px;
    }
  }
}
