// ==============================================

//        HEADER SITE

// ==============================================


.header-site {
    position: fixed;
    top: 0;
    left: 0;
    z-index: z(header);
    width: 100%;
    transition: transform 0.3s easeOutQuad;
    background-color: white;
    
    // show / hide header when scroll up / down
    &.--is-close {
        transform: translateY(-100%);
        transition: transform 0.3s easeInOutQuad;
    }
    
    &.is-solid {
        &:before {
            box-shadow: 0px 1px 3px rgba(black, 0.1);
        }
    }
    
    &:before {
        @include pseudo-block(100%, var(--header-height), white);
        top: 0;
        left: 0;
        transition: box-shadow 0.2s;
    }
}

.header-site__inner {
    @include flex-center($align:v);
    height: var(--header-height);
}

.header-brand {
    display: block;
    flex-shrink: 0;
    
    svg {
        width: 184px;
        height: 42px;

        @include mobile {
            width: 142px;
            height: 38px;
            margin-left: -12px;
        }
    }

}



// container for nav-primary
.nav-responsive-container {
    @include flex-center($align:v);
    height: 100%;
    margin-left: 40px;

    @media (max-width: 1300px) {
        margin-left: 20px;
    }

    .btn-contact-mobile,
    .lang-switcher-mobile {
        display: none;
    }
    
}


//  Nav primary
// -----------------------------------------------

.nav-primary {
    height: 100%;
}

.nav-primary__menu {
    @include list-inline-flex();
    height: 100%;
}



.nav-primary__item {
    display: inline-flex;

    &.has-children {
        position: relative;
    
        // submenu show on hover only on desktop
        @include min-desktop {
            &:hover { 
                .submenu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }

                > .nav-primary__link {
                    color: $color-primary;
                }
            }
            // show submenu when parent item is focus
            &:focus-within {
                .submenu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }
}


.nav-primary__link {
    @include inline-flex-center($align:v);
    font-size: 16px;
    color: $color-black-medium;
    transition: color $trans-color;
    
    &:hover {
        color: $color-primary;
    }
    
    /* .nav-primary__item.is-active & {
        color: $color-navy;
    } */

    @include unify-parent("span") {
        cursor: pointer;
    }
}


.nav-primary__item.is-level1 > .nav-primary__link {
    padding: 8px 14px;
    text-align: center;

    @media (max-width: 1300px) {
        padding: 8px 10px;
    }
}

.nav-primary__item.has-children > .nav-primary__link {
    z-index: 1;
    
    &:hover {
        .icon {
            fill: $color-primary
        }
    }
    
    .icon {
        margin-left: 8px;
        font-size: 18px;
        fill: $color-grey-500;
        transition: fill $trans-color;
    }
}




.nav-primary {

    // Desktop - Second level
    .submenu {
        // dropdown submenu fade in / fade out only on desktop
        @include min-desktop {
            position: absolute;
            top: calc(100% - 2px);
            left: 0;
            // width: auto;
            min-width: 250px;
            padding: 50px 50px;
            text-align: left;
            background-color: white;
            border-radius: $border-radius;
            box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4px);
            transition: opacity $trans-duration, visibility $trans-duration, transform $trans-duration;
        }
    }

    // Ajustement des positions du sous-menu
    .nav-primary__item:nth-child(1) .submenu {
        left: -80px;
    }
    .nav-primary__item:nth-child(2) .submenu {
        left: -225px;
    }
    .nav-primary__item:nth-child(3) .submenu {
        left: -20px;
    }
    .nav-primary__item:nth-child(4) .submenu {
        left: -100px;
    }


    .submenu__title {
        display: block;
        padding-bottom: 20px;
        font-family: $font-title;
        font-size: 21px;
        font-weight: 700;
        line-height: 1.4;
        color: $color-primary;
        border-bottom: 1px solid $color-grey-300;
    }

    .submenu__list {
        margin-top: 10px;
        @include list-flex(column);
    }


    // niveau 3
    .megamenu {
        display: flex;
        margin-top: 20px;
        
        > * + * {
            margin-left: 40px;
        }
    }

    .megamenu__column {
        &.txt-green {   
            --color-theme: var(--color-green);  
            .nav-primary__link.has-icon img {   filter: filter-color('green');  }
        }
        &.txt-indigo {   
            --color-theme: var(--color-indigo);  
            .nav-primary__link.has-icon img {   filter: filter-color('indigo');  }
        }
        &.txt-purple {   
            --color-theme: var(--color-purple);  
            .nav-primary__link.has-icon img {   filter: filter-color('purple');  }
        }

        .submenu__list .nav-primary__link {
            &:hover {
                color: var(--color-theme);
            }
        }
    }

    .megamenu__title {
        display: block;
        margin-bottom: 10px;
        font-weight: 700;
        white-space: nowrap;
        color: var(--color-theme);
    }
}


.nav-primary__item.is-level2 > .nav-primary__link {
    padding: 10px 0;

    @include min-desktop {
        white-space: nowrap;
    }

    &.has-icon {
        padding-right: 20px;

        img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }
}



///////////////


.nav-header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    
    > * + * {
        margin-left: 0.5rem;
    }

    .btn.btn-login {
        padding-left: 10px;
        padding-right: 10px;

        &:hover {
            text-decoration: underline;
        }

        @include mobile {
            font-size: 15px;
            padding-right: 5px;
        }
    }

    > * + .btn-contact {
        margin-left: 12px;

        @include tablet-small {
            display: none;
        }
    }
}




//  Burger menu button
// -----------------------------------------------

.btn-burger {
    @include flex-center();
    position: relative;
    margin-left: 0.5rem;
    height: 40px;
    width: 40px;
    // @include bd(blue);

    @include mobile {
        margin-right: -10px;
    }
}

.btn-burger__icon {
    @include icon-burger($width:20px, $height:14px, $bar-height:2px, $color:$color-primary);
}



//  MQ Breakpoints
// -----------------------------------------------

@include media-breakpoint-down(lg) {
    // menu responsive
    .nav-responsive-container {
        position: absolute;
        top: calc(var(--header-height));
        left: 0;
        z-index: z(below);      // slider transition pass under header:before
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: calc(100vh - var(--header-height));
        height: calc(100 * var(--vh) - var(--header-height));    // fix 100vh in iOS and Chrome Android
        padding: 1rem var(--container-padding) 3rem;
        margin-left: initial;
        background-color: white;
        overflow: auto;
        transform: translateX(-100%);
        
        .header-site.has-transition & {
            transition: transform 0.45s easeInOutQuint;    // close transition
        }
        
        .header-site.is-open & {
            transform: unset;
            transition: transform 0.45s cubic-bezier(.22,.71,0,1);      // open transition
        }

        .nav-primary {
            width: 100%;
            height: initial;
        }

        .nav-primary__menu {
            flex-direction: column;
            width: 100%;
        }

        .nav-primary__item.is-level1 {
            flex-direction: column;
        }

        .nav-primary__link {
            width: 100%;
        }
        
        .nav-primary__item.is-level1 > .nav-primary__link {
            justify-content: space-between;
            padding: 12px 16px;
            border-bottom: 1px solid $color-grey-300;

            .icon {
                transition: fill $trans-color, transform $trans-duration easeInOutQuart;
            }
        }

        .nav-primary__item.is-level1:last-child > .nav-primary__link {
            border-bottom: initial;
        }

        // ouvre l'accordéon
        .nav-primary__item.is-level1.is-open {
            &  > .nav-primary__link { 
                color: $color-primary;
                font-weight: 600;
                border-bottom: 1px solid $color-grey-300;

                .icon {
                    transform: rotate(180deg);
                }
            }

            .submenu {
                height: var(--height-open);
                opacity: 1;
            }
        }

        /////
        .submenu {
            border-bottom: 1px solid $color-grey-300;

            // Accordéon
            --height-open: auto;        // height value set to auto when open, will be replaced with real value calculated by JS for transition
            height: 0;                  // height value when close (default state)
            overflow: hidden;
            opacity: 0;
            transition: height $trans-duration easeInOutQuart, opacity 0.2s linear;
        }

        .submenu > .submenu__list {
            margin-top: initial;
            padding: 14px 0;
        }

        .submenu__title {
            display: none;
        }

        .nav-primary__item.is-level2 > .nav-primary__link {
            padding: 10px 0 10px 30px;
            font-size: 15px;
        }

        //////
        .megamenu {
            margin-top: initial;
            padding: 14px 0;
            
            > * + * {
                margin-left: 30px;
            }

            .megamenu__column {
                min-width: 240px;
                flex: 1;
            }
        }

        .megamenu__title {
            padding: 10px 0 10px 16px;
            font-size: 16px;
            white-space: initial;
            margin-bottom: initial;
        }

        .megamenu__column > .submenu__list {
            margin-top: initial;
        }
    }
}


@include media-breakpoint-down(md) {
    .nav-responsive-container {
        .megamenu {
            .megamenu__column {
                min-width: initial;
            }
        }
    }
}



@include media-breakpoint-down(sm) {
    .nav-responsive-container {
        .megamenu {
            flex-direction: column;

            > * + * {
                margin-left: initial;
                margin-top: 20px;
            }
        }

        .btn-contact-mobile {
            display: inline-flex;
            margin-top: 40px;
        }
        .lang-switcher-mobile {
            display: inline-flex;
            margin-top: 20px;
        }
        
    }
    .nav-header-right {
        .lang-switcher {
            display: none;
        }
    }
}





@include media-breakpoint-down(xs) {
    
}

