// ==============================================

//        HEADER SITE

// ==============================================


.header-site {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z(header);
  width: 100%;
  transition: transform 0.3s easeOutQuad, background-color 0.3s easeOutQuad;
}

.header-site__inner {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 0 20px;
  // @include bd(red,0.1);
}


// container for nav-primary
.nav-responsive-container {
  @include flex-center($align:v);
  width: 100%;
  // @include bd();
}



//  Nav primary
// -----------------------------------------------

.nav-primary {
  margin-left: 22px;
  // @include bd(orange,1);
}

.nav-primary__menu {
  @include list-inline-flex();
}

.nav-primary__link {
  @include inline-flex-center($align:v);
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.08em;
  text-align: center;
  color: $color-medium-grey;
  transition: color $trans-duration;

  &:hover,
  &:focus {
    color: $color-primary;
  }

  .nav-primary__item.is-active > & {
    color: $color-primary;
  }
}



//  Burger menu button
// -----------------------------------------------

.btn-burger {
  position: relative;
  padding: 8px;
  margin-left: auto; 
}

.btn-burger__icon {
  @include icon-burger($width: 24px, $height: 16px, $bar-height: 2px, $color: $color-primary);
}



//  MQ Breakpoints
// -----------------------------------------------
  
// Menu pivoté et fixe seulement si largeur ET hauteur du viewport suffisantes
@media (min-width: 1200px) and (min-height: 660px) {
  .header-site {
    position: absolute;
  }
  .header-brand-text {
    margin-left: 60px;
  }

  .nav-responsive-container {
    flex-direction: column;
    justify-content: center;    
    align-items: flex-start;
  }

  .nav-primary {
    position: fixed;
    margin-top: 130px;
    margin-left: calc((138px + 46px ) * -1);
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
  }

  .nav-primary__menu {
    flex-direction: row-reverse;
  }

  .nav-primary__link {
    padding: 8px 20px;
  }

  .header-site .btn-contact {
    position: fixed;
    align-self: flex-end;
  }
}


// Masquage auto du header et passage en couleur sauf si menu pivoté
// @media (max-width: 1049px), (max-height: 659px) {
@media (max-width: 1199px), (max-height: 659px) {
  .header-site {
    &.is-solid {
      background-color: $color-white;
      box-shadow: 0px 2px 12px rgba(#D98C19, 0.18);
    }
  
    // show / hide header when scroll up / down
    &.is-off-screen {
      transform: translateY(-110%);
      transition: transform 0.3s easeInOutQuad;
    }
  }
}


// Menu primaire en mode responsive + burger
@include media-breakpoint-down(md) {
  .header-site {
    &.is-open {
      background-color: $color-white;
      box-shadow: 0px 2px 12px rgba(#D98C19, 0.18);
    }
  }

  // menu responsive
  .nav-responsive-container {
    position: absolute;
    top: var(--header-height);
    left: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - var(--header-height));
    height: calc((var(--vh) * 100) - var(--header-height));    // fix 100vh in iOS and Chrome Android
    padding: 50px 20px;
    background-color: $color-white;
    transform: translateX(-100%);
    visibility: hidden;
    box-shadow: inset  0  12px 12px -12px rgba(#D98C19, 0.18);

    .header-site.has-transition & {
      transition: transform 0.55s cubic-bezier(.22,.71,0,1), visibility 0.55s;    // close transition
    }

    .header-site.is-open & {
      transform: unset;
      transition: transform 0.45s cubic-bezier(.22,.71,0,1), visibility 0.45s;      // open transition
      visibility: visible;
    }
  }

  .nav-primary {
    margin-left: initial;
  }

  .nav-primary__menu {
    flex-direction: column;
  }

  .nav-primary__link {
    padding: 18px 12px;
    font-size: 22px;
  }

  .header-site .btn-contact {
    position: absolute;
    left: 250px;
    bottom: 44px;
  }
}


@include media-breakpoint-down(xs) {
  .header-site .btn-contact {
    left: initial;
    right: 20px;
  }
  .nav-primary__link {
    padding: 20px 8px;
    font-size: 16px;
  }
}
