// ==============================================

//        BLOCK TABS 

// ==============================================


.block-tabs {

  //  Tabs
  // -----------------------------------------------
  .tablist {
    display: flex;
    justify-content: center;
    // @include bd();

    @include mobile {
      justify-content: initial;
      width: 100%;
      overflow: auto;
      scroll-snap-type: x proximity;
      scroll-padding: var(--container-padding);
      padding-left: var(--container-padding);
      padding-right: var(--container-padding);
      padding-bottom: 20px;
    }
  }

  .tablist__btn {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 275px;
    padding: 4px 8px;
    font-size: 19px;
    line-height: 1.25;
    text-align: center;
    color: $color-black-medium;
    transition: color $trans-color;

    @include tablet-small {
      font-size: 18px;
    }

    @include mobile {
      scroll-snap-align: start;
      max-width: initial;
      // width: calc(100%);
      // flex: initial;
    }

    & + .tablist__btn {
      @include mobile {
        margin-left: 30px;
      }
    }

    // état actif
    &[aria-selected="true"] {
      color: $color-primary;
      font-weight: 700;

      .icon {
        fill: $color-primary;
      }
    }

    &:hover {
      color: $color-primary;

      .icon {
        fill: $color-primary;
        transform: translateY(4px);
      }
    }

    img {
      height: 80px;
      width: auto;

      @include mobile {
        height: 60px;
      }
    }

    span {
      margin-top: 10px;

      @include mobile {
        white-space: nowrap;
      }
    }

    .icon {
      margin-top: auto;
      font-size: 20px;
      fill: $color-grey-500;
      transition: fill $trans-color, transform $trans-duration;

      @include mobile {
        display: none;
      }
    }
  }



  //  Panels
  // -----------------------------------------------
  .panels-wrapper {
    margin-top: 50px;
    background-color: $color-primary-050;

    @include mobile {
      margin-top: 20px;
    }

    @media (min-width: 1280px) {
      border-radius: $border-radius;
    }
  }
}
