// ==============================================

//        BLOCK TIMELINE 

// ==============================================


.block-timeline {

	.panels-wrapper {
		padding-top: 90px;
		padding-bottom: 90px;
		background-color: $color-primary-050;

		@media (min-width: 1280px) {
			border-radius: $border-radius;
		}

		@include tablet-small {
			padding-top: 60px;
			padding-bottom: 60px;
		}

		@include mobile {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		>*+* {
			margin-top: 90px;

			@include tablet-small {
				margin-top: 60px;
			}
		}
	}
}


.panel-timeline {
	display: grid;
	grid-template-areas: "content image";
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
	align-items: center;

	// --modifier
	@include min-tablet-small {
		&:nth-child(even) {
			grid-template-areas: "image content";

			.panel-timeline__image {
				justify-self: initial;
			}

			.panel-timeline__content {
				justify-self: end;
			}
		}
	}

	// 1 colonne
	@include tablet-small {
		grid-template-areas: "content"
			"image";
		grid-template-columns: auto;
	}
}

.panel-timeline__content {
	grid-area: content;

	@include min-tablet-small {
		max-width: 520px;
	}
}

.panel-timeline__suptitle + * {
	margin-top: 10px;
}

.panel-timeline__date {
	display: block;
	font-family: $font-title;
	font-feature-settings: $font-feature-settings;
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
	color: var(--color-accent); // --thème de couleur

	@include tablet {
		font-size: 56px;
	}

	@include mobile {
		font-size: 42px;
	}

	&+.wysi {
		margin-top: 20px;

		@include tablet-small {
			margin-top: 10px;
		}
	}
}

.panel-timeline__image {
	grid-area: image;
	width: 100%;
	max-width: 564px;

	@include min-tablet-small {
		justify-self: end;
	}
}