// ==============================================

//        BLOCK ANCHORS 

// ==============================================


.block-anchors {
margin-top: 200px;
  .block-container {
    position: relative;
  }

  //  Tabs
  // -----------------------------------------------
  .tablist-wrapper {
    position: sticky;
    top: var(--header-height);
    z-index: 1;
    box-shadow: 0px 1px 3px rgba(black, 0.1);
  }

  .tablist {
    display: flex;
    background-color: $color-white;
    padding-top: 10px;
    padding-bottom: 10px;

    @include tablet {
      width: 100%;
      overflow: auto;
      scroll-snap-type: x proximity;
      scroll-padding: var(--container-padding);
      padding-left: var(--container-padding);
      padding-right: var(--container-padding);
      padding-bottom: 10px;
    }
  }
  

  .tablist__btn {
    --color-border: var(--color-accent-pale);
    --color-bg-hover: var(--color-accent-light);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 212px;
    padding: 15px;
    font-size: 19px;
    line-height: 1.25;
    text-align: center;
    color: $color-black-medium;
    background-color: $color-white;
    border: 1px solid var(--color-border);
    border-radius: $border-radius-small;
    transition: color $trans-color, background-color $trans-color, border-color $trans-color;

    @include tablet {
      flex-shrink: 0;
      width: auto;
      min-width: 150px;
      padding: 10px;
      scroll-snap-align: start;
      font-size: 16px;
    }
    
    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      margin-right: auto;
    }
    & + .tablist__btn {
      margin-left: 20px;
    }

    &:hover {
      background-color: var(--color-bg-hover);
      border-color: var(--color-bg-hover);
    }

    img {
      height: 70px;
      width: auto;

      @include tablet {
        height: 40px;
      }
    }

    span {
      margin-top: 10px;

      @include tablet-small {
        margin-top: 5px;
        white-space: nowrap;
      }
    }
  }



  //  Panels
  // -----------------------------------------------
  .panels-wrapper {
    margin-top: 50px;
  
    @include tablet-small {
      margin-top: 20px;
    }
  }

  
  .panel {
    display: grid;
    grid-template-areas: "content image";
    grid-template-columns: repeat(2, 1fr);  
    gap: 30px;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: $color-primary-050;

    & + .panel {
      margin-top: 90px;

      @include tablet-small {
        margin-top: 40px;
      }
    }

    @media (min-width: 1280px) {
      border-radius: $border-radius;
    }

    // --modifier
    @include min-tablet-small {
      &.--image-text {
        grid-template-areas: "image content";
  
        .panel__image {
          justify-self: initial;
        }
        .panel__content {
          justify-self: end;
        }
      }
    }

    @include desktop {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    // 1 colonne
    @include tablet-small {
      grid-template-areas: "content" 
                           "image";
      grid-template-columns: auto;  
    }
  
    @include mobile {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .panel__content {
    grid-area: content;
    max-width: 520px;
  }
  
  .panel__image {
    grid-area: image;
    width: 100%;
    max-width: 564px;

    @include min-tablet-small {
      justify-self: end;
    }
  
    figure {
      @include aspect-ratio(564, 415);
    }
  }
}
