// ==============================================

//        BANNER (Page Actualités, Références, Contact)

// ==============================================


.banner-page-alt {
  // @include bd(black,0.05);
}

.banner-page-alt__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100%;
  padding: 150px 0 50px; 
}

.banner-page-alt__heading {
  position: relative;
  z-index: 1;
  grid-row: 1;
  grid-column: 2 / span 10;
  // @include bd();
}

.banner-page-alt__text {
  margin-top: 20px;
  max-width: 620px;
}



//  MQ Breakpoints
// -----------------------------------------------

@include media-breakpoint-down(md) {
  .banner-page-alt__heading {
    grid-column: 1 / -1; //****
  }
}

@include media-breakpoint-down(sm) {
  
  .banner-page-alt__inner {
    padding: 120px 0 50px; 
  }
}

@include media-breakpoint-down(xs) {
  .banner-page-alt__inner {
    display: block;
    // padding: 120px 0 40px; 
  }
  .banner-page-alt__figure {
    margin: 40px auto 0;
    max-width: 70%;
  }
}


.banner-page-alt.--with-image {
  .banner-page-alt__heading {
    grid-column: 2 / span 8;
    padding-right: 50px;
  }
  .banner-page-alt__text {
    max-width: 520px;
  }
  .banner-page-alt__figure {
    grid-row: 1;
    grid-column: 9 / span 4;
    max-width: 320px;
  
    .image-wrapper {
      --rotation: 2.5deg;
      --rotation-bg: -2deg;
      @include aspect-ratio(1, 1, false);
      box-shadow: 0px 50px 90px -50px #D98C19;
    }
  }

  @include media-breakpoint-down(lg) {
    .banner-page-alt__heading {
      grid-column: 1 / span 8;
    }
  }

  @include media-breakpoint-down(xs) {
    .banner-page-alt__heading {
      padding-right: initial;
    }
    .banner-page-alt__figure {
      margin: 60px auto 0;
      max-width: 60%;
    }
  }
}