// ==============================================

//        BLOCK CALL TO ACTION - (Agence, Notre différence) 

// ==============================================


.block-cta {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.block-cta__left {
  margin-left: grid-unit(1);
}

.block-cta__title {
  max-width: 524px;
}

.block-cta__text {
  max-width: 620px;
  margin-top: 20px;
}


.block-cta__right {
  display: flex;
  align-items: flex-start;

  .block-cta__btn-wrapper {
    flex-shrink: 0;

    &:hover + .block-cta__figure {
      transform: translate(-8px, -16px) rotate(3deg);
    }
  }
  
  .btn-circle {
    margin-right: -30px;
  }
  // @include bd(red,0.5);
}

.block-cta__figure {
  width: 200px;  
  transform-origin: bottom left;
  transition: transform 0.25s easeOutQuad;

  .image-wrapper {
    --rotation: 5deg;
    --rotation-bg: -4deg;
    @include aspect-ratio(1, 1, false);
  }

  .motif-dots {
    bottom: -34px;
    right: 15px;
  }
}




//  MQ Breakpoints
// -----------------------------------------------

@include media-breakpoint-down(lg) {
  .block-cta__left {
    margin-left: initial;
  }
}

@include media-breakpoint-down(md) {
  .block-cta {
    flex-direction: column;
    justify-content: initial;
  }
  
  .block-cta__title {
    max-width: initial;
  }

  .block-cta__right {
    justify-content: center;
    width: 100%;
    margin-top: 75px;
  }
}

@include media-breakpoint-down(xs) {
  .block-cta__right {
    
    .btn-circle {
      margin-right: -50px;
    }

    .block-cta__figure {
      margin-top: 100px;
    }
  }
}
