// ==============================================

//        BLOCK CTA

// ==============================================


.block-cta {
  padding-top: 70px;
  // @include bd();
}


.block-cta__inner {
  --inner-padding-h: var(--grid10-col-half-width);    // 72px
  position: relative;
  z-index: 1;
  padding: 0 var(--inner-padding-h);
}


.block-cta__panel {
  display: flex;
  align-items: center;
  padding: 50px 72px;
  background-color: $color-light-grey;
}

.block-cta__body {
  position: relative;
  flex: 1;
  padding-left: 56px;
  padding-right: 100px;

  &:before {
    @include pseudo-block(10px, 100%, $color-primary);
    top: 0;
    left: 0;
  }
  // @include bd();
}

.block-cta__text {
  margin-top: 20px;
  margin-bottom: 0;
}



//  MQ Breakpoints
// -----------------------------------------------

@include media-breakpoint-down(lg) {
  .block-cta__inner {
    --inner-padding-h: var(--container-padding);
  }
  .block-cta__body {
    padding-right: 50px;
  }
}

@include media-breakpoint-down(md) {
  .block-cta {
    padding-top: 40px;
  }

  .block-cta__panel {
    padding: 50px 2rem;
  }
  .block-cta__body {
    padding-left: 40px;
  }
}

@include media-breakpoint-down(sm) {
  .block-cta__panel {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 2rem 20px;
  }
  .block-cta__body {
    padding-right: 1rem;
  }
  .block-cta .btn {
    margin-top: 1rem;
    margin-left: 10px;
    // @include bd(green,1);
  }
}

@include media-breakpoint-down(xs) {
  .block-cta__panel {
    padding: 30px 1rem 20px;
  }
  .block-cta__body {
    padding-left: 30px;
    padding-right: unset;

    &:before {
      width: 6px;
    }
  }
  .block-cta .btn {
    margin-left: unset;
  }
}

