// ==============================================

//        CARDS

// ==============================================



//  Card
// -----------------------------------------------

.card-subpage {
  width: 100%;
  overflow: hidden;
}

.card-subpage__link {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 40px 28px 32px 28px;
  color: white;
  background-color: $color-dark-grey;
  transition: background-color 0.5s ease;

  &:hover {
    // background-color: darken($color-secondary, 6);

    img {
      opacity: 0.1;
    }

    .card-subpage__more {
      span {
        transform: translateX(30px);
        transition: transform 0.4s easeInOutQuad 0s;
      }
  
      &:after {
        transform: scaleX(0);
        transition: transform 0.4s easeInOutQuad 0s;
      }
  
      &:before {
        transform: scaleX(1);
        transition: transform 0.3s easeOutQuad 0.3s;
      }
    }
  }

  &:active {
    background-color: darken($color-secondary, 16);
  }

  img {
    @include bg-cover();
    z-index: -1;
    opacity: 0.3;
    transition: opacity 0.4s ease;
    will-change: opacity;
  }
}

.card-subpage__title {
  @include truncate-multiline(3);
  font-size: 36px;
  color: inherit;
}

.card-subpage__excerpt {
  max-width: 270px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: $font-title;
}

.card-subpage__more {
  align-self: flex-end;
  margin-top: auto;
}


//  MQ Breakpoints
// -----------------------------------------------

@include media-breakpoint-down(lg) {
  .card-subpage__title {
    font-size: 30px;
  }
}

@include media-breakpoint-down(md) {
  .card-subpage__title {
    font-size: 27px;
  }
  .card-subpage__excerpt {
    margin-top: 1rem;
  }
}

@include media-breakpoint-down(xs) {
  .card-subpage__link {
    padding: 28px;
  }
  .card-subpage__title {
    font-size: 27px;
  }
  .card-subpage__excerpt {
    max-width: unset;
    margin-bottom: 1.5rem;
  }
}