/* autoprefixer: off */

//  Custom styles only for gutenberg editor block
// -----------------------------------------------

// remove unecessary styles :
// aos, typography, header-site, footer-site, sidebar, modals, cookie-banners, lang-switcher, hero, breadcrumbs...


// @import 'vendors/wp-styles';
@import 'abstracts/mixins';     // index des mixins ET functions -> dans le répertoire abstracts/mixins/
@import 'abstracts/variables';

@import 'vendors/bootstrap/utilities/bootstrap-display';    // chargé aprés variables, requiert $grid-breakpoints 
@import 'vendors/flickity/flickity';
@import 'vendors/flickity/flickity-fade';

@import 'base/font-face';
@import 'base/utilities';

.editor-styles-wrapper {
  @import 'base/base';

  @import 'layout/container';
  @import 'layout/grid';
  @import 'components/base/*';

  @import 'vendors-custom/flickity-theme-custom';

  // @import 'pages/page-article';
}
@import 'components/panel';
@import 'components/blocks/*';


// Style des champs ACF dans le panneau de droite
.acf-block-panel .acf-button-group {
  padding-left: 0;
  padding-top: 1px;
  flex-direction: column;

  label {
    margin: -1px 0 0 0;
  }

  label:first-child {
    border-radius: 3px 3px 0 0;
  }

  label:last-child {
    border-radius: 0 0 3px 3px;
  }
}