@import 'abstracts/mixins';
@import 'abstracts/variables';


$color-login-body-background: $color-body-background;
$color-login-form-background: $color-navy;
$color-login-form: white;
$color-login-input: black;
$color-login-submit: white;
$color-login-submit-background: $color-primary;
$color-login-link: $color-primary;
$color-login-link-hover: $color-primary;
$logo-url: '../svg/logo-cmb.svg';



//  Custom styles
// -----------------------------------------------

body.login {
  background-color: $color-login-body-background;
}

#login h1 a {
  width: 100%;      //
  height: 56px;     //
  background-image: url( $logo-url ); 
  background-position: center center;
  background-size: contain;
}

// login form
#loginform,
#lostpasswordform {
  border: unset;
  background-color: $color-login-form-background;
  border-radius: $border-radius;
}

// login form labels
#loginform label,
#lostpasswordform p label {
  color: $color-login-form;
}

// login form inputs
input#user_login,
input#user_pass {
  margin-top: 6px;
  padding: 6px 14px;
  border: 0;
  font-size: 20px;    //
  color: $color-login-input;
  background-color: white;      //
  border-radius: $border-radius-small;
  transition: background-color $trans-duration;

  // &:focus {
  //   background-color: white;
  // }
}

// login form button hide / show password
#loginform .wp-hide-pw {
  margin-top: 6px;
}

// login form checkbox
input#rememberme {
  border: 0;
  box-shadow: unset;
}

// login form submit button
input#wp-submit {
  background-color: $color-login-submit-background;
  border-color: darken($color-login-submit-background, 10%);
  box-shadow: 0 1px 0 darken($color-login-submit-background, 40%);
  text-shadow: unset;
  color: $color-login-submit;
  transition: background-color $trans-duration;

  &:hover {
    background-color: darken($color-login-submit-background, 8%);
  }
}

// links under form
#login p#nav a,
#login p#backtoblog a,
.privacy-policy-page-link a {
  color: $color-login-link;

  &:hover {
    color: $color-login-link-hover;
    text-decoration: underline;
  }
}
