

//  Custom styles
// -----------------------------------------------

@import 'abstracts/mixins';     // index des mixins ET functions -> dans le répertoire abstracts/mixins/
@import 'abstracts/variables';

@import 'vendors/bootstrap/utilities/bootstrap-display';    // chargé aprés variables, requiert $grid-breakpoints 
@import 'vendors/flickity/flickity';
@import 'vendors/flickity/flickity-fade';
// @import 'vendors/aos/aos';

@import 'base/reboot';
@import 'base/base';
@import 'base/font-face';
@import 'base/typography';
@import 'base/utilities';

@import 'layout/*'; 
    // TOADD _global partial with .page-wrapper, .main, (instead of .base)

// @import 'vendors-custom/flickity-theme-custom';
// @import 'vendors-custom/aos-custom';

@import 'components/base/*';
@import 'components/common/*';
@import 'components/blocks/*';
@import 'components/panel';
@import 'components/form-newsletter';

@import 'pages/*';

@import 'base/print';     // load last for override previous rules

@import 'shame/shame';



/////
.xdebug-var-dump {
  position: absolute;
  z-index: 500;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  font-size: 12px;
  border: 1px solid #000;
  overflow: scroll;
  background-color: rgba(white,1);

  overflow: visible;
}


